* {
    font-family: Pretendard, sans-serif;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    src: url("/fonts/Pretendard-Regular.otf") format("truetype");
}
