.ProseMirror-focused {
  outline: none;
}

.empty-node::before {
  content: attr(data-placeholder);
  color: #B4B4B4;
}

.editor-blockquote {
  padding: 6px 10px;
  color: gray;

  border-left: 4px solid #B4B4B4;
}

.editor-inlineCode {
  padding: 1px 4px;
  color: #e2465e;
  background-color: #E2E2E2;
  border-radius: 4px;
}

.editor-divider {
  padding: 5px 0;
}

.editor-divider hr {
  height: 1px;
  background-color: #E2E2E2;
  border: none;
}

.editor-link, .editor-link:visited, .editor-link:link {
  color: gray;
  border-bottom: 1px solid #E2E2E2;
}

.editor-bulletList {
  padding-left: 20px;
}

.editor-numberList {
  padding-left: 20px;
}

.imagePluginRoot[imageplugin-align="left"] {
  float: left;
  margin: 1rem 2rem 0 0;
}
.imagePluginRoot[imageplugin-align="right"] {
  float: right;
  margin: 0;
}
.imagePluginRoot[imageplugin-align="center"] {
  float: none;
  margin: 0 auto;
}

.imagePluginRoot[imageplugin-align="fullWidth"] {
  width: auto;
  float: none;
  clear: both;
}

.alignFullWidthButton {
  display: none;
}

.alignRightButton,
.alignLeftButton,
.alignCenterButton {
  outline: none;
  background-color: #2B2B2B;
  border: none;
  opacity: 0.6;
  color: gray;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.alignRightButton:hover,
.alignLeftButton:hover,
.alignCenterButton:hover {
  color: white;
  background-color: #3E3E3E;
}

.alignRightButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.alignLeftButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.imagePluginRoot[imageplugin-align="left"] [imagealign="left"] {
  color: white;
}
.imagePluginRoot[imageplugin-align="right"] [imagealign="right"] {
  color: white;
}
.imagePluginRoot[imageplugin-align="center"] [imagealign="center"] {
  color: white;
}

.imageResizeBox {
  background-repeat: no-repeat;
  box-sizing: border-box;
  left: 0;
  position: relative;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
  align-self: center;
}

.imageResizeBox.active {
  transition: none;
}

.imageResizeBoxControl {
  height: 5px;
  position: absolute;
  width: 5px;
  z-index: 2;
}

.imagePluginRoot:hover .imageResizeBox,
.imageResizeBox.active {
  opacity: 1;
}

.imageResizeBoxControl.topLeft {
  cursor: nw-resize;
  left: -5px;
  top: -5px;
}

.imageResizeBoxControl.top {
  cursor: n-resize;
  left: 50%;
  margin-left: -5px;
  top: -5px;
}

.imageResizeBoxControl.topRight {
  cursor: ne-resize;
  right: 0;
  top: -5px;
}

.imageResizeBoxControl.right {
  cursor: e-resize;
  margin-top: -5px;
  right: 0;
  top: 50%;
}

.imageResizeBoxControl.bottomRight {
  cursor: se-resize;
  bottom: 0;
  right: 0;
}

.imageResizeBoxControl.bottom {
  cursor: s-resize;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}

.imageResizeBoxControl.bottomLeft {
  cursor: sw-resize;
  bottom: 0;
  left: -5px;
}

.imageResizeBoxControl.left {
  cursor: w-resize;
  left: -5px;
  margin-top: -5px;
  top: 50%;
}

.imageResizeBoxControl::after {
  background-color: darkgreen;
  border: solid 1px #fff;
  box-sizing: border-box;
  content: "";
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.imageResizeBoxControl::before {
  bottom: -10px;
  content: "";
  left: -10px;
  position: absolute;
  right: -10px;
  top: -10px;
}

@media only print {
  .imageResizeBox {
    display: none;
  }
}

.imageResizeBoxWrapper {
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
  pointer-events: none;
}

.imageResizeBoxCenter {
  position: relative;
}
.imageResizeBox {
  position: absolute;
}
.imageResizeBoxControl {
  z-index: 1000;
  pointer-events: all;
}

.imageResizeBoxControl {
  display: none;
}

.imageResizeBoxControl.bottomRight {
  display: inline-block;
  cursor: e-resize;
  margin-top: -5px;
  right: 10px;
  top: 50%;
}

.imageResizeBoxControl.bottomLeft {
  display: inline-block;
  cursor: w-resize;
  left: 5px;
  margin-top: -5px;
  top: 50%;
}

.imageResizeBoxControl::after {
  background-color: #2B2B2B;
  opacity: 0.6;
  border: solid 1px #fff;
  border-radius: 8px;
  box-sizing: border-box;
  content: "";
  height: 50px;
  left: 0px;
  position: absolute;
  top: -20px;
  width: 10px;
}

.opacity {
  opacity: 0;
}

.imagePluginOverlay {
  top: 5px;
}
