.ProseMirror-focused {
  outline: none;
}

.empty-node::before {
  content: attr(data-placeholder);
  color: #B4B4B4;
}

.editor-blockquote {
  padding: 6px 10px;
  color: gray;

  border-left: 4px solid #B4B4B4;
}

.editor-inlineCode {
  padding: 1px 4px;
  color: #e2465e;
  background-color: #E2E2E2;
  border-radius: 4px;
}

.editor-divider {
  padding: 5px 0;
}

.editor-divider hr {
  height: 1px;
  background-color: #E2E2E2;
  border: none;
}

.editor-link, .editor-link:visited, .editor-link:link {
  color: gray;
  border-bottom: 1px solid #E2E2E2;
}

.editor-bulletList {
  padding-left: 20px;
}
